/*====== Adding Fonts ============================ */
@font-face {
  src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-family: SpaceMono-Bold;
}
@font-face {
  src: url(../fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
  font-family: SpaceMono-BoldItalic;
}
@font-face {
  src: url(../fonts/Space_Mono/SpaceMono-Italic.ttf);
  font-family: SpaceMono-Italic;
}
@font-face {
  src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-family: SpaceMono-Regular;
}

@font-face {
  src: url(../fonts/Work_Sans/WorkSans-Black.ttf);
  font-family: Sans-Black;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-Bold.ttf);
  font-family: Sans-Bold;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-ExtraBold.ttf);
  font-family: Sans-ExtraBold;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-ExtraLight.ttf);
  font-family: Sans-ExtraLight;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
  font-family: Sans-Light;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
  font-family: Sans-Medium;
}
@font-face {
  src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
  font-family: Sans-Regular;
}

@font-face {
  src: url(../fonts/Work_Sans/WorkSans-SemiBold.ttf);
  font-family: Sans-SemiBold;
}
@font-face {
  src: url(../ffonts/Work_Sans/WorkSans-Thin.ttf);
  font-family: Sans-Thin;
}

/*=========== End Adding Fonts =============*/

/*===== change page background color ===========*/
body{
  background-color: #fefaff  !important;
}

a{
  text-decoration: none !important;
}

/*======= Top header backgrond color =====*/
.top-header{
  background-color: #525659 !important;
  padding: 50px !important;
}

/*===== nav bar ======*/
.nav{
  padding: 20px !important;
}


/*====== Header Styling =======*/
.header-title{
  background-color: #4f105c !important;
  padding: 30px 0px 30px 0px !important;
  text-align: center !important;
  background-image: url('/images/triangle.svg'),url('/images/circle.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 76% bottom , 76% bottom;

}


.headText{
  color: white !important;
  font-family: SpaceMono-Regular !important;
  font-size: 62px !important;
}

.headTestWeb{
 font-family: SpaceMono-BoldItalic !important;
  background-color: #f56a2a !important;
    background-image: linear-gradient(45deg, #f56a2a, #a90bb0) !important;
    background-size: 100% !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-text-fill-color: transparent !important ;
    font-size: 62px !important;
}


/* ===== Table content styling =====*/
.podSection{
    width: 80% !important;
    background-color: #ffffff !important;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 5px rgba(242,218,246,1)!important;
    top: 50%;
    left: 10%;
    padding: 50px 20px 0px 20px !important;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 450px;

}

.column {
  float: left !important;
  width: 33.33% !important;
  margin-bottom: 100px;
}

.row{
      width: 70%!important;
      margin: 70px !important;
}

/* Clear floats after the columns */
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;

}


/* ====== sytling table  text ===*/
.count{
  width: 20% !important;
  margin-left: -250px;
  background: transparent url('/images/circle.svg') no-repeat;
  background-position: left;
  background-size: contain;
  padding: 40px!important;
}


/* ====== sytling number section ===*/
.number{
  font-size: 36px !important;
  text-align: center;
  font-family:  SpaceMono-BoldItalic !important;;
  color: #ffffff!important;
  margin-left: -75px!important
}

/* ====== sytling podcast image ===*/
.podImg{
  margin-left: -70px!important;
  border: 1px solid #fefaff;
}

/* ====== sytling podcast title ===*/
h3.title{
  font-size: 36px;
  font-family: Sans-SemiBold;
  padding-bottom: 15px;
}

/* ====== sytling podcast publisher text ===*/
h4.publisher{
  font-size: 18px;
  font-family: SpaceMono-Regular;
  color: #9c07b2 !important;
  padding-bottom: 15px;
  margin: 0px;
}
.publisher:before{
  content: 'by ';
  font-size: 18px;
  font-family: SpaceMono-Regular;
  color: #9c07b2 !important;
  padding-bottom: 15px;
  margin: 0px;
}

/* ====== sytling podcast episodeds text ===*/
h5.episodes, .episodes:after{
  font-size: 18px;
  font-family: SpaceMono-Regular;
  margin: 0px;
    content:" episodes";
}

/* ====== sytling podcast social icon  ===*/
.social-icon{
  color: #777777;
  padding: 10px;
  font-weight: bold;
}

/* ====== sytling podcast description ===*/
.description{
  font-size: 18px;
  line-height: 1.5em;
  padding: 20px;
}


/* Responsive layout - when the screen is less than 500px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
 .column {
   width: 100% !important;
   float: none !important;
 }
 .row {
   width: 100% !important;
 }

 .count{
   width: 20% !important;
   margin-left: -50px;
   margin-top: -80px!important;
   background: transparent url('/images/circle.svg') no-repeat;
   background-position: left;
   background-size: cover;
 }
 .number{
   font-size: 36px !important;
   text-align: center;
   font-family:  SpaceMono-BoldItalic !important;;
   color: black !important;


 }

 .podSection{
   width: 100% !important;
   top: 0% !important;
   left: 0% !important;
   padding: 50px 20px 0px 20px !important;
   margin-top: 50px!important;
   margin-bottom: 50px !important;
   margin-left: 0px !important;
   margin-right: 90px !important;

 }

 .title,.publisher{
   padding-bottom: none !important;

 }

 .description{
   padding: 0px !important;
   margin: 0px;
 }
 .social-icon{
   display: flex-root !important;
   padding: 0px !important;
   margin: 0px !important;
 }
}

/*=== Media Query for Specific width =======*/
@media only screen and (max-width: 1000px) and (min-width: 500px)  {
  .podImg{
    margin-left: -170px!important;
    border: 1px solid #fefaff;
  }
  }

/*=== Media Query for Specific width =======*/
@media only screen and (max-width: 600px) and (min-width: 320px)  {
  .podImg{
    margin-left: -50px!important;
    border: 1px solid #fefaff;
  }

  .column {
    width: 100% !important;
  }
  .row {
    width: 100% !important;
    margin-left: 0px !important;
  }

  }

  @media only screen and (max-width: 1300px) and (min-width: 600px)  {
    .podImg{
      margin-left: -50px!important;
      border: 1px solid #fefaff;
    }

    .column {
      width: 100% !important;
    }
    .row {
      width: 70% !important;
      margin-left: -250px !important;
    }

    .count{
      width: 30% !important;
      margin-left: -50px !important;
      margin-top: -80px!important;
      margin-bottom: 15px!important;
      background: transparent url('/images/circle.svg') no-repeat;
      background-position: left;
      background-size: cover;
    }
    .number{
      font-size: 36px !important;

      text-align: center;
      font-family:  SpaceMono-BoldItalic !important;;
      color: #ffffff!important;
        margin-left: 5px!important
    }

    }
