/*====== Adding Fonts ============================ */
@font-face {
  src: url(fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-family: SpaceMono-Bold;
  src: url(fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
  font-family: SpaceMono-BoldItalic;
  src: url(fonts/Space_Mono/SpaceMono-Italic.ttf);
  font-family: SpaceMono-Italic;
  src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-family: SpaceMono-Regular;
}

@font-face {
  src: url(fonts/Work_Sans/WorkSans-Black.ttf);
  font-family: Sans-Black;
  src: url(fonts/Work_Sans/WorkSans-Bold.ttf);
  font-family: Sans-Bold;
  src: url(fonts/Work_Sans/WorkSans-ExtraBold.ttf);
  font-family: Sans-ExtraBold;
  src: url(fonts/Work_Sans/WorkSans-ExtraLight.ttf);
  font-family: Sans-ExtraLight;
  src: url(fonts/Work_Sans/WorkSans-Light.ttf);
  font-family: Sans-Light;
  src: url(fonts/Work_Sans/WorkSans-Medium.ttf);
  font-family: Sans-Medium;
  src: url(fonts/Work_Sans/WorkSans-Regular.ttf);
  font-family: Sans-Regular;
  src: url(fonts/Work_Sans/WorkSans-SemiBold.ttf);
  font-family: Sans-SemiBold;
  src: url(fonts/Work_Sans/WorkSans-Thin.ttf);
  font-family: Sans-Thin;
}

/*=========== End Adding Fonts =============*/

/*===== change page background color ===========*/
body{
  background-color: #fefaff;
}

/*======= Top header backgrond color =====*/
.top-header{
  background-color: #525659;
  padding: 50px;
}

/*===== nav bar ======*/
.nav{
  padding: 20px;
}

.ham-img{
  width: 3%;
  float: left;
  margin-bottom: 15px;
}


/*====== Header Styling =======*/
.header-title{
  background-color: #4f105c;
  padding: 2px 0px 2px 2px;
  margin: 50px 0px 50px 0px;
  text-align: center;
  font-size: 42px;
}

/*==== header images styling ====*/
.image-stack-top{
  float: right;
  position: relative;
}
.image-stack-bottom{
  float: right;
  position: relative;
}

.headText{
  color: white;
  font-family: SpaceMono-Regular;
}

.headTestWeb{
  font-family: SpaceMono-BoldItalic;
  background-color: #f56a2a;
    background-image: linear-gradient(45deg, #f56a2a, #a90bb0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
